body
{
  padding-top: 50px;
  background-color: #a7c6da;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: #FFFFFF;
	text-shadow: 4px 4px #2471a3;
	padding: 20px;
	font-size: 48px;
	font-family: "trebuchet ms", sans-serif;    
}
h2
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 8px;
	font-size: 34px;
	font-family: "trebuchet ms", sans-serif;    
}
h3
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 8px;
	font-size: 24px;
	font-family: "trebuchet ms", sans-serif;    
}
h4
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 8px;
	font-size: 18px;
	font-family: "trebuchet ms", sans-serif;    
}
h5
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 8px;
	font-size: 14px;
	font-family: "trebuchet ms", sans-serif;    
}
h6
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 8px;
	font-size: 12px;
	font-family: "trebuchet ms", sans-serif;    
}
p
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 8px;
	font-size: 18px;
	font-family: "trebuchet ms", sans-serif;
}
ol
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 10px, 40px, 10px, 40px;
	font-size: 18px;
	font-family: "trebuchet ms", sans-serif;
}
ul
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 10px, 40px, 10px, 40px;
	font-size: 18px;
	font-family: "trebuchet ms", sans-serif;
}
a
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 10px;
	font-family: "trebuchet ms", sans-serif;
	font-style: underline;
}
label
{
	margin: 0px;     
	color: #FFFFFF;
	padding: 10px, 40px, 10px, 40px;
	font-size: 20px;
	font-family: "trebuchet ms", sans-serif;
}
button
{
	background-color: #a7c6da;
	border: 4px solid #FFFFFF;
	width: 150px;
	height: 50px;
	font-size: 18px;
	font-style: bold;
	font-family: "trebuchet ms", sans-serif;
	color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0 6px #2471a3;
}
button:hover
{
	background-color: #2471a3;
}
table
{
	align-items: center;
	padding: 10px;
}
.navbar-header
{
	background-color: #2471a3;
	text-decoration: #FFFFFF;
}
.navbar-nav
{
	background-color: #2471a3;
	text-decoration-color: #FFFFFF;
}
.navbar-collapse
{
		background-color: #2471a3;
		color: #FFFFFF;
}
.navbar-fixed-bottom
{
	background-color: #2471a3;
	color: #FFFFFF;
}
.navbar-fixed-top
{
	background-color: #2471a3;
	color: #FFFFFF;
}
.navbar-inverse
{
		background-color: #2471a3;
		border-color: #FFFFFF;
}
.nav
{
	background-color: #2471a3;
	color: #FFFFFF;
}
.navbar
{
	background-color: #2471a3;
	color: #FFFFFF;
}
.navbar-toggle
{
	background-color: #2471a3;
	color: #FFFFFF;
}
.navbar-brand
{
	background-color: #2471a3;
	color: #FFFFFF;
	font-size: 20px;
}
.container_nav
{
	background-color: #2471a3;
	color: #FFFFFF;
}
.icon-bar
{
	color: #FFFFFF;
	background-color: #2471a3;
}